<div class="card text-center">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-exclamation-triangle"></i> Erişim Engellendi</h5>
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Anasayfaya git</a>
    </div>
</div>